asgiref
certifi
charset-normalizer
crispy-bootstrap5
crispy-tailwind
distlib
Django
django-appconf
django-compressor
django-crispy-forms
django-environ
docopt
EasyProcess
entrypoint2
filelock
idna
MouseInfo
mss
numpy
opencv-contrib-python
Pillow
pipreqs
platformdirs
psycopg2
PyAutoGUI
PyGetWindow
PyMsgBox
pyperclip
PyRect
pyscreenshot
PyScreeze
pytweening
rcssmin
requests
rjsmin
sqlparse
sweetify
tzdata
urllib3
virtualenv
yarg
