asgiref
crispy-bootstrap5
crispy-tailwind
distlib
Django
django-appconf
django-compressor
django-crispy-forms
django-environ
EasyProcess
entrypoint2
filelock
MouseInfo
mss
numpy
opencv-contrib-python
Pillow.1
platformdirs
psycopg2
PyAutoGUI
PyGetWindow
PyMsgBox
pyperclip
PyRect
pyscreenshot
PyScreeze
pytweening
rcssmin
rjsmin
sqlparse
sweetify
tzdata
virtualenv
